body{
    background: linear-gradient(red,white,blue);
    height: 100vh; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.central{
width: 350px;
height: 200px;
background: white;
border-radius: 20px;
box-shadow: 3px 3px 10px black;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.central div{

    background: black;
    color: white;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.central div span{
    font-size: 80px;
}

.central div p{
    font-size: 22px;
    margin: 0;
}